extends layouts/base

block variables
    - var template = "home";

block content
    .home(data-background="#bc978c", data-color="#37384c")
        .home__wrapper
            .home__titles
                each _collection, index in prismic.collection
                    .home__titles__label= `${prismic.home.data.collection} ${utils.localNumbers(index)}`
                    .home__titles__title= _collection.data.title

            .home__gallery
                each media in prismic.home.data.gallery
                    figure.home__gallery__media
                        img.home__gallery__media__image(data-src=media.image.url, alt=media.image.alt)
                a(href=utils.Link(prismic.home.data.collections))= prismic.home.data.button

            a.home__link(href=prismic.collections.uid)
                span= prismic.home.data.button

                svg.home__link__icon(xmlns="http://www.w3.org/2000/svg", viewBox="0 0 288 60")
                    path(
                        stroke="currentColor",
                        opacity="0.4",
                        fill="none",
                        d="M144,0.5c79.25,0,143.5,13.21,143.5,29.5S223.25,59.5,144,59.5S0.5,46.29,0.5,30S64.75,0.5,144,0.5z"
                    )
                    path(
                        stroke="currentColor",
                        fill="none",
                        d="M144,0.5c79.25,0,143.5,13.21,143.5,29.5S223.25,59.5,144,59.5S0.5,46.29,0.5,30S64.75,0.5,144,0.5z"
                    )
